# ND-LAr truth parsing

include:
  - infer/nd-lar/base/base_240819.yaml
  - infer/nd-lar/io/io_240819.yaml

# Overrides
override:
  # Only build truth objects
  build.mode: truth

  # No reconstructed information to write
  io.writer.keys-: [points, depositions, reco_particles, reco_interactions]
